body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 200px;
    font-family: "snug-variable", sans-serif;
    font-variation-settings: "wght" 500, "wdth" 100, "XHGT" 100;
}

p {
    font-size: 12px;
    font-family: array-mono, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-self: flex-end;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 150px;
    }

    p {
        font-size: 12px;
    }
}